{% extends 'base/base.html' %} {% load static %}
{% block title %}Lista de Trabajos{% endblock %}

{% block content %}
      <section class="section dashboard">
        <div class="row">
          <!-- Left side columns -->
          <div class="col-lg-8">
            <div class="row">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Listado de Trabajos Finales</h5>

                  <!-- Vertical Form -->
                  <form class="row g-3">
                    <div class="col-12">
                      <!-- Table with stripped rows -->
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Titulo</th>
                            <th scope="col">Fecha Presentacion</th>
                            <th scope="col">Tribunal</th>
                            <th scope="col">Director</th>
                            <th scope="col">Co-Director</th>
                            <th scope="col">Asesor</th>
                            <th scope="col">Archivo</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for proyecto in proyectos %}
                          <tr>
                            <th scope="col">{{proyecto.titulo}}</th>
                            <th scope="col">{{proyecto.fechaPresentacion}}</th>
                            <th scope="col">
                              {{proyecto.NroResolucionTribunal}}
                            </th>
                            <th scope="col">{{proyecto.director}}</th>
                            <th scope="col">{{proyecto.coDirector}}</th>
                            <th scope="col">{{proyecto.ascesor}}</th>
                            <th scope="col">
                              <a
                                href="http://localhost:8000/{{ proyecto.archivosAdjuntos }}"
                                download
                                >Descargar archivo PDF</a
                              >
                            </th>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      <!-- End Table with stripped rows -->
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary">
                          Aceptar
                        </button>
                      </div>
                    </div>
                  </form>
                  <!-- Vertical Form -->
                </div>
              </div>
            </div>
            <!-- End sidebar recent posts-->
          </div>
        </div>
        <!-- End News & Updates -->
      </section>
      {% endblock %}


