{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>{% block title %} Inicio {% endblock %}</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon" />
    <link
      href="{% static 'assets/img/apple-touch-icon.png' %}"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/quill/quill.snow.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/quill/quill.bubble.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/remixicon/remixicon.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/simple-datatables/style.css' %}"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
          <img src="{% static 'assets/img/logo.png' %}" alt="" />
          <span class="d-none d-lg-block">Gestion TF</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <!-- End Logo -->
      <!--
      <div class="search-bar">
        <form
          class="search-form d-flex align-items-center"
          method="POST"
          action="#"
        >
          <input
            type="text"
            name="query"
            placeholder="Search"
            title="Enter search keyword"
          />
          <button type="submit" title="Search">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>
       End Search Bar -->

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle" href="#">
              <i class="bi bi-search"></i>
            </a>
          </li>
          <!-- End Search Icon-->
        </ul>
      </nav>
      <!-- End Navigation -->
    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="bi bi-house-fill"></i>
            <span>Inicio</span>
          </a>
        </li>
        <!-- End Dashboard Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#components-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-person-lines-fill"></i><span>Alumnos</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="components-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="{% url 'persona:registrar_alumno' %}">
                <i class="bi bi-circle"></i><span>Registrar Alumno</span>
              </a>
            </li>
            <li>
              <a href="{% url 'persona:dar_baja_alumno' %}">
                <i class="bi bi-circle"></i><span>Dar de Baja</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Alumnos Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#forms-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-person-square"></i><span>Docentes</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="forms-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="{% url 'persona:registrar_docente' %}">
                <i class="bi bi-circle"></i><span>Registrar Docente</span>
              </a>
            </li>
            <li>
              <a href="{% url 'persona:registrar_ascesor' %}">
                <i class="bi bi-circle"></i><span>Registrar Asesor</span>
              </a>
            </li>
            <li>
              <a href="{% url 'persona:dar_baja_docente' %}">
                <i class="bi bi-circle"></i><span>Dar de Baja Docente</span>
              </a>
            </li>
            <li>
              <a href="{% url 'persona:dar_baja_ascesor' %}">
                <i class="bi bi-circle"></i><span>Dar de Baja Asesor</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Docentes Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#tables-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="ri-finder-fill"></i><span>Comision de Seguimiento</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="tables-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="{% url 'evaluacion:registrar_comicion' %}">
                <i class="bi bi-circle"></i><span>Registrar Comision</span>
              </a>
            </li>
            <li>
              <a href="{% url 'evaluacion:asignar_docente_comicion' %}">
                <i class="bi bi-circle"></i><span>Asignar Docente</span>
              </a>
            </li>
            <li>
              <a href="{% url 'evaluacion:registrar_evaluacion_formal' %}">
                <i class="bi bi-circle"></i
                ><span>Registrar Informe Ev.Formal</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Comicion Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#charts-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-bank"></i><span>Tribunal Evaluador</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="charts-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="{% url 'evaluacion:registrar_tribunal' %}">
                <i class="bi bi-circle"></i><span>Registrar Tribunal</span>
              </a>
            </li>
            <li>
              <a href="{% url 'evaluacion:asignar_docente_tribunal' %}">
                <i class="bi bi-circle"></i><span>Asignar Docente</span>
              </a>
            </li>
            <li>
              <a href="{% url 'evaluacion:registrar_evaluacion_tf' %}">
                <i class="bi bi-circle"></i
                ><span>Registrar Evaluacion Formal</span>
              </a>
            </li>
            <li>
              <a href="{% url 'evaluacion:lista_tribunales' %}">
                <i class="bi bi-circle"></i><span>Lista de Tribunales</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Tribunal Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#icons-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-journal-bookmark-fill"></i><span>Trabajo Final</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="icons-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="{% url 'proyecto:registrar_trabajo_final' %}">
                <i class="bi bi-circle"></i><span>Registrar Trabajo Final</span>
              </a>
            </li>
            <li>
              <a href="{% url 'proyecto:asignar_alumno_tf' %}">
                <i class="bi bi-circle"></i><span>Asignar Alumno</span>
              </a>
            </li>
            <li>
              <a href="{% url 'proyecto:dar_baja_alumno_tf' %}">
                <i class="bi bi-circle"></i
                ><span>Dar de Baja Alumno del TF</span>
              </a>
            </li>
            <li>
              <a href="{% url 'proyecto:registrar_movimiento_tf' %}">
                <i class="bi bi-circle"></i><span>Asignar Movimiento</span>
              </a>
            </li>
            <li>
              <a href="{% url 'proyecto:listar_tf' %}">
                <i class="bi bi-circle"></i><span>Lista de TF</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Trabajo Final Nav -->
      </ul>
    </aside>
    <!-- End Sidebar-->

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="base.html">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->

      <section class="section dashboard">
        <div class="row">
          <!-- Left side columns -->
          <div class="col-lg-8">
            <div class="row"></div>
          </div>
        </div>
      </section>
      <div>{% block content %} {% endblock %}</div>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright
        <strong><span>Facultad de Tecnologia y Cs. Aplicadas</span></strong
        >. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->

    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
