{% extends 'base/base.html' %}
{% load static %}

<title>{% block title %}Asignar Docente a Comision {% endblock %}</title>

{% block content %}

        <section class="section dashboard">
            <div class="row">
      
              <!-- Left side columns -->
              <div class="col-lg-8">
                <div class="row">
      
                 
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Asignar de Docente a Comisión</h5>
            
                          <!-- Vertical Form -->
                          <form class="row g-3" method="post" enctype="multipart/form-data">

                            {% for field in form %}
                              <div>
                                   {{field.errors}} {{field.label_tag}} {{field}}
                              </div>
                            <br>
                              {% endfor %} {% csrf_token %}
                        <div class="text-center">
                              <button type="submit" class="btn btn-primary">Asignar</button>
                        </div>
                          </form><!-- Vertical Form -->
            
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
          </section>
          {% endblock %}


