{% extends 'base/base.html' %} {% load static %}
<title>{% block title %}Lista de tribunales{% endblock %}</title>

{% block content %}
      <section class="section dashboard">
        <div class="row">
          <!-- Left side columns -->
          <div class="col-lg-8">
            <div class="row">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Listado de Tribunales</h5>

                  <!-- Vertical Form -->

                  <div class="col-12">
                    <!-- Table with stripped rows -->
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Nro Tribunal</th>
                          <th scope="col">Fecha</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for tribunal in listado %}
                        <tr>
                          <td>{{tribunal.nroResolucion}}</td>
                          <td>{{tribunal.fechaTribunal}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>

                  <!-- Vertical Form -->
                </div>
              </div>
            </div>
            <!-- End sidebar recent posts-->
          </div>
        </div>
        <!-- End News & Updates -->
      </section>
      {% endblock %}
